span.NIE-share *{text-decoration:none;font-weight:normal;text-align:left;font-family:simSun,Arial;}
/*.NIE-share-txt{color:#000;}*/
.NIE-share1 .NIE-share-txt{font-size:12px;line-height:17px;}
.NIE-share2 .NIE-share-txt{font-size:18px;font-weight:bold;line-height:32px;}
/*com*/
a.NIE-share,.NIE-share1 .NIE-share-iconBtn a img,.NIE-share1 .NIE-share-more em,.NIE-share-more a,#NIE-share-panel div a,#NIE-share-sideBar div span p a{background:url(icon.v2.png) no-repeat;}
.NIE-share-iconBtn a{margin-right:5px;}
.NIE-share-iconBtn a img{vertical-align:middle;border:0 !important;margin:0 !important;}
.NIE-share-more a,#NIE-share-panel div a,#NIE-share-sideBar div span p a{height:14px;line-height:14px;float:left;text-indent:22px;color:#333;font-size:12px;border:1px #fff solid;text-decoration:none;overflow:hidden;display:inline-block;}
.NIE-share-v2 span,#NIE-share-panel,#NIE-share-sideBar div span p a{text-align:left !important;}
/* iconBtn1 */
.NIE-share1 .NIE-share-iconBtn{font-size:14px;}
.NIE-share1 .NIE-share-iconBtn a img{width:16px;height:16px;}
/* iconBtn2 */
.NIE-share2 .NIE-share-iconBtn a img,.NIE-share2 .NIE-share-more em{background:url(icon.b.v2.png) no-repeat;}
.NIE-share2 .NIE-share-iconBtn{font-size:32px;}
.NIE-share2 .NIE-share-iconBtn a img{width:32px;height:32px;}

.NIE-share-more{position:relative;display:inline-block !important;}
.NIE-share1 .NIE-share-more{width:42px;}
.NIE-share1 .NIE-share-more em{position:absolute;top:-12px;width:42px;height:16px;color:#fff;font-size:12px;text-indent:16px;line-height:17px !important;font-style:normal;background-position:0 -22px;display:inline-block;overflow:hidden;}
.NIE-share2 .NIE-share-more em{position:absolute;top:-25px;width:32px;height:32px;line-height:999px;display:inline-block;overflow:hidden;}
.NIE-share-more span{position:absolute !important;z-index:9;width:198px;padding:2px;border:1px #c2c2c2 solid;background:#fff;overflow:hidden;display:none;}
.NIE-share1 .NIE-share-more span{left:0;top:4px;}
.NIE-share2 .NIE-share-more span{left:0;top:8px;}
.NIE-share-more a{width:87px;padding:5px;}
.NIE-share-more a:hover,#NIE-share-sideBar div span p a:hover{color:#000;background-color:#f0f0f0;border-color:#e0e0e0;text-decoration:none;}
.NIE-share-more a,#NIE-share-sideBar div span p a{text-decoration:none !important;}

#NIE-share-panel,#NIE-share-panel button,#NIE-share-panel input,#NIE-share-sideBar div b,#NIE-share-sideBar div span,#NIE-share-sideBar div span button{background:url(items.jpg);}
#NIE-share-panel div a:hover,a.NIE-share-btn:hover{background-color:#f0f0f0;border-color:#e0e0e0;}
#NIE-share-panel{position:absolute;z-index:999;width:320px;height:360px;padding:4px;background-position:-119px -24px;background-color:#fff;border:1px #c2c2c2 solid;overflow:hidden;-webkit-box-shadow:0 2px 7px #333, 0 0 0 #999 inset;-moz-box-shadow:0 2px 7px #333, 0 0 0 #999 inset;box-shadow:0 2px 7px #333, 0 0 0 #999 inset;}
#NIE-share-panel button{position:absolute;z-index:2;right:10px;top:10px;width:12px;height:12px;border:0;cursor:pointer;}
#NIE-share-panel button.hover{background-position:0 -12px;}
#NIE-share-panel h3,#NIE-share-sideBar div span  h3{position:relative;margin:10px 5px;color:#575757;font-weight:bold;font-size:16px;}
#NIE-share-panel input{width:308px;height:22px;padding-left:10px;margin-bottom:5px;color:#c2c2c2;line-height:22px;border:1px #c2c2c2 solid;background-color:#fff;background-position:100% -1px;background-repeat:no-repeat;}
#NIE-share-panel div{width:309px;height:277px;padding:5px;background:#fff;border:1px #c2c2c2 solid;overflow-y:scroll }
#NIE-share-panel div a{width:82px;padding:6px 3px;}

/* side bar */
#NIE-share-sideBar{position:absolute;right:0;width:30px;height:440px;overflow:hidden;}
#NIE-share-sideBar div{position:absolute;right:-120px;width:150px;}
#NIE-share-sideBar div b{width:30px;height:102px;margin-top:38px;float:left;display:inline-block;background:url(sideBar.tip.png);}
#NIE-share-sideBar div span{width:110px;float:left;margin:0;padding:4px;background-color:#fff;background-position:0 -24px;border:1px #c2c2c2 solid;display:inline-block;}
#NIE-share-sideBar div span button{position:absolute;z-index:2;right:7px;top:10px;width:12px;height:12px;border:0;cursor:pointer;}
#NIE-share-sideBar div span button.hover{background-position:0 -12px;}
#NIE-share-sideBar div span p{width:98px;margin:0;padding:5px;background:#fff;border:1px #c2c2c2 solid;display:inline-block;overflow:hidden;}
#NIE-share-sideBar div span p a{width:85px;padding:5px;}
/*txt&img*/
#NIE-share-txt,#NIE-share-img{position:absolute;z-index:99;padding:3px;line-height:16px;background:#EEE;border:1px #c2c2c2 solid;display:none;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;}

/*compatible for old ver*/
a.NIE-share{height:18px;text-indent:18px;font-size:12px;text-decoration:none;line-height:18px;display:inline-block;}